<mat-toolbar (click)="onHeaderClick()">
    <button
        mat-icon-button
        class="example-icon"
        (click)="onMenuClick($event)"
        (contextmenu)="onContextMenuClick($event); false"
        (keydown.enter)="onKeyDownHandler($event)"
    >
        <mat-icon>menu</mat-icon>
    </button>
    <!-- <img src={{logoSrc}} alt="logo"> -->
    <img
        [src]="appConfig?.shopIconSrc"
        alt="logo"
        [style.width.px]="100"
        [class.active]="true"
    >
    <span>{{appConfig?.title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
