<app-header
    [appConfig]="applicationConfig"
    (menuClick)="sidenav.toggleSidenavOpen()"
></app-header>

<app-sidenav
    #sidenav
    [title]="applicationConfig.title"
    [(isDrawerOpen)]="isSidenavOpen"
>
    <div ngProjectAs="matList">
        <mat-list #matListClass>
            <mat-list-item appShadowClick>Pepper</mat-list-item>
            <mat-list-item appShadowClick>Salt</mat-list-item>
            <mat-list-item appShadowClick>Paprika</mat-list-item>
        </mat-list>
    </div>

    <!-- <app-products-list></app-products-list> -->
    <router-outlet></router-outlet>
</app-sidenav>
