<ng-container *ngIf="showCard && (products | async) as productsValue">
    <app-card
        class="card"
        [product]="productsValue[0]"
    ></app-card>
</ng-container>

<div
    *ngIf="(products | async) as productsValue; else spinner; let value"
    class="cards"
>
    <app-card
        *ngFor="let product of productsValue; trackBy: trackBy"
        class="card"
        [product]="product"
        ></app-card>
</div>



<ng-template #spinner>
    <mat-spinner></mat-spinner>
</ng-template>
